<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @invite.user_id %>
</p>

<p>
  <b>Invited uid:</b>
  <%= @invite.invited_uid %>
</p>


<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
