<% content_for :head_style do %>
  <%= stylesheet_link_tag "index" %>
<% end %>
<% content_for :head_script do %>
  <%= javascript_include_tag "index" %>
<% end %>
<div id="fb-root"></div>
<section id="main-section">
  <figure class="logo">
    <%= image_tag"logo.png", :class => 'logo_image horizontal' %>
    <%= image_tag"logo_tradi.png", :class => 'logo_tradi horizontal' %>
  </figure>
  
  <div class="contenedor">
    <div id="izq" class="caja2x2 horizontal">
      <article id="marco"><div id="marco-div"></div></article>
    </div>
    <div id="der" class="caja2x2 horizontal">
      <figure class="botella">
        <%= image_tag("botella.png")%>
      </figure>
    </div>
  </div>
</section>

<div class="age-div">
  <div class="age-check">
    <br/>
    <p>ANTES DE ENTRAR, VERIFICA TU EDAD</p>
    <form action="#">
      <label for="dia">DÍA:</label>
      <%= select_day(nil, {use_two_digit_numbers: true}, {:class => "age-input", :id => 'dia'}) %>
      <label for="mes">MES:</label>
      <%= select_month(nil, {use_two_digit_numbers: true}, {:class => "age-input", :id => 'mes'}) %>
      <label for="anio">AÑO:</label>
      <%= select_year(nil, {start_year: 2014, end_year:1920}, {:class => "age-input", :id => 'anio'}) %>
      <br/>
    </form>
    <%= button_tag '', id:"entrar-btn"%>
  </div>
</div>

<div id="ruby-values"></div>
